*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: darkcyan;
}
.phla{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.dusra{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 12%;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 4px 8px o rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
    width: 500px;
    height: 300px;
}
button{
    padding: 5px 7px;
    background-color: red;
    border: none;
    border-radius: 5px;
    color: white;
}